body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: IRANSansMonoSpacedNum;
  src: url(../public/assets/fonts/IRANSansMonoSpacedNum.woff) format('woff');
  font-weight: 700
}

@font-face {
  font-family: 'IRANSans-web';
  src: url('../public/assets/fonts/IRANSansWeb(FaNum)_Bold.eot?#') format('eot'),
    /* IE6–8 */
    url('../public/assets/fonts/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
    /* Chrome36+, Opera24+*/
    url('../public/assets/fonts/IRANSansWeb(FaNum)_Bold.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: bold;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url('../public/assets/fonts/IRANSansWeb(FaNum)_Light.eot?#') format('eot'),
    /* IE6–8 */
    url('../public/assets/fonts/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
    /* Chrome36+, Opera24+*/
    url('../public/assets/fonts/IRANSansWeb(FaNum)_Light.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: 200;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url('../public/assets/fonts/IRANSansWeb(FaNum).eot?#') format('eot'),
    /* IE6–8 */
    url('../public/assets/fonts/IRANSansWeb(FaNum).woff2') format('woff2'),
    /* Chrome36+, Opera24+*/
    url('../public/assets/fonts/IRANSansWeb(FaNum).woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: normal;
}

body {
  direction: rtl;
  /* font-family: IRANSansMonoSpacedNum !important; */
  position: relative;
  font-family: 'IRANSans-web';
  font-weight: 200;
  font-size: 13px;
  /* padding-bottom: 60px; */
  padding-right: 0 !important;
}

.modal {
  padding-right: 0px !important;
}

/* body:not(.modal-open){
  padding-right: 0px !important;
} */

a {
  font-family: 'IRANSans-web' !important;
  text-decoration: none !important;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
span {
  font-family: 'IRANSans-web';
  font-size: 13px;
}

button:focus {
  border-color: #f0f0f0 !important;
}





.bg-fff {
  background-color: #fff !important;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.dv-nav {
  align-items: center;
  background: #fff !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
  height: 64px;
  transition: top .24s ease-in-out;
  z-index: 1040;
  padding: 0 10px;
}

.dv-searchbox {
  background-color: #f3f3f3;
  height: 40px;
  border-radius: 4px;
  /* gap : 8px; */
  padding-right: 5px;
  font-size: 18px;
}

.dv-search-input {
  /* width: 400px; */
  font-size: 12px;
  color: #c0c0c0;
  background-color: #f3f3f3;
  line-height: 2;
  border: none;
  transition: all ease 0.2s;
}

.dv-search-input:focus {
  border-color: #c0c0c0;
  box-shadow: 0 0 0px;
  outline: 0 none;
  background-color: #fff;
}

.dv-search-input:focus .dv-searchbox {
  background-color: #fff !important;
}

button:focus {
  box-shadow: none !important;
}

.dv-btn-ads {
  background-color: #a62626;
  font-size: .875rem;
  line-height: 2;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  transition: color .36s ease, background-color .36s ease, box-shadow .36s ease, border-color .36s ease, transform .36s ease;
}

.navbar-nav .nav-link {
  line-height: 2;
  text-align: center;
  /* width: 100%; */
  font-weight: 400;
}

.navbar-nav .nav-item {
  line-height: 2;
}

.dv-city-select-btn {
  font-size: 14px;
  color: #8a8a8a;
  line-height: 2;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.dv-city-select-btn span {
  font-size: 16px;
  padding-left: 7px;
}

.dv-city-select-btn:hover {
  background-color: #f3f3f3;
}

.dv-city-select-btn:focus {
  background-color: #f3f3f3;
}

.dv-city-input-btn:active {
  border: none !important;
}

.dv-cat-drop-btn {
  border-radius: 4px;

}

.dv-cat-drop-btn>button {
  font-size: 14px;
  color: #8a8a8a;
  line-height: 2;
}

.dv-cat-drop-btn>button:focus {
  border-color: #f0f0f0 !important;
}

.dv-cat-drop-btn:hover {
  background-color: #f3f3f3;
}

.dropdown-toggle::after {
  display: none;
}

.dv-arrowdown {
  font-size: 16px;
  margin-right: 5px;
  /* vertical-align: -1px; */
}

.dv-arrowdown.active svg {
  transform: rotate(180deg);
}

.dv-citybadge {
  margin-left: 7px;
  padding: 5px 10px 5px 7px;
  font-size: 14px;
  font-weight: 200;
  background-color: rgba(166, 38, 38, .04) !important;
  border: 1px solid rgba(166, 38, 38, .56);
  color: #a62626;
}

.dv-deletebadge {
  /* vertical-align: -1; */
  cursor: pointer;
  border-radius: 100%;
  transition: all ease 0.2s;
  margin-right: 6px;
}

.dv-deletebadge:hover {
  background-color: rgba(185, 38, 38, 0.5);
}

.dv-deletebadge svg {
  font-size: 22px;
}



.dv-modal-body {
  max-height: 250px;
  min-height: 250px;
}

.dv-modal-body .list-group-item {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  font-size: 16px;
  /* color: rgba(0,0,0,.87); */
  /* line-height: 2; */
  font-weight: 500;
  cursor: pointer;
}

.dv-modal-body .dv-arrow {
  float: left;
  font-size: 18px;
  color: rgba(0, 0, 0, .67);
}

.dv-modal-body .dv-backarrow {
  font-size: 18px;
  color: rgba(0, 0, 0, .67);
  margin-left: 16px;
}


.dv-modal-body::-webkit-scrollbar,
.dv-modal-body::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 3px solid #fff;
}

.dv-modal-body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  color: #ddd !important;
}

.dv-modal-body::-webkit-scrollbar {
  width: 12px;
}


/* 
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
} */



.dv-modalsearch {
  color: #d2d2d2;
  padding-right: 35px;
  position: relative;
}

.dv-modalsearch::placeholder {
  color: #adacac;
  font-weight: 300;
}

.dv-modalsearch:focus {
  box-shadow: none !important;
  border-color: rgba(166, 38, 38, .56);
}

.dv-search-modal-icon {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 18px;
  color: #c0c0c0
}

.dv-btn-closemodal {
  flex: 1;
  border: 1px solid #eee;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  cursor: not-allowed !important;
  pointer-events: auto !important
}

.dv-btn-closemodal:hover {
  border-color: #c0c0c0;
  /* cursor: not-allowed */
}

.city-scrollabe {
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
  /* height: 73px; */
  padding-bottom: 6px;
}

/* .city-scrollabe::-webkit-scrollbar{
  width: 50px;

} */

.city-scrollabe::-webkit-scrollbar,
.city-scrollabe::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 6px solid #ffffff;
}

.city-scrollabe::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  color: #ddd;
  /* border: 4px solid red; */
}

.city-scrollabe::-webkit-scrollbar {
  width: 8px;
}


/* 
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
} */




/* .city-scrollabe::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}

.city-scrollabe::-webkit-scrollbar
{
	width: 14px;
  scrollbar-width: thin;
	background-color: #ffffff;
}

.city-scrollabe::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #636363;
} */


.dv-sidebar {
  background-color: #ffffff;
  padding: 10px;
}

.dv-sidebox {
  border-bottom: 1px solid #ddd;
  /* padding: 5px 0; */
  /* padding-bottom: 5px; */
}

.dv-sidebox h6 {
  padding: 8px 4px;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  line-height: 2;
}

.dv-catlist span {
  margin-left: 8px;
  font-size: 12px;
}

.dvm-icon-cat {
  margin-left: 8px;
  font-size: 19px;
}

.dvm-icon-arrow {
  float: left;
  line-height: 21px;
  font-size: 16px;
  color: #8a8a8a;
}

.dv-mobile-cat-arrow {}


.dv-catlist>span>img {}

.dv-catlist,.dv-catlist a {
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  transition: all ease 0.25s;
}
.dv-catlist a{
  display: block;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.dvm-catlist {
  font-size: 14px;
  color: #3a3a3a;
  font-weight: 400;
  transition: all ease 1s;
  cursor: pointer;
  border-top: 0 !important;
  animation: "fadein";
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #dee2e6;
}

.dvm-catlist:last-child {
  /* border-bottom:0 !important ; */
}

.dv-catlist:hover {
  color: #333;
  cursor: pointer;
}

.cat-depth3 {
  /* border-right: 1px solid #eee !important; */
  font-size: 12px;
  padding: 0;
}

.cat-depth3:focus {
  border-color: #eb3333 !important;
}
.cat-depth3 a{
  font-size: 11px;
  border-right: 1px solid #eee !important;
  padding-right: 10px;
  line-height: 28px;
  display: block;
}
.cat-depth3 a.active {
  color: #eb3333 !important;
  border-color: #eb3333 !important;
}

.dv-cat-parent {
  color: #333 !important;
}
/* .dv-cat-parent img{
  color: #a62626 !important;
  font-weight: bold;
} */

.dv-nav-toggle {
  line-height: 1.4;
  margin-right: 8px;
}

/* button:disabled {
  cursor: not-allowed !important;
  pointer-events: auto
}   */

p {
  margin: 0 !important;
}

.dv-cards {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.dv-card {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 8px;
}

.dv-card-border {
  border: 1px solid #ededed;
  border-radius: 4px;
}

.dv-post {
  background-color: #fff;
  border-radius: 4px;
  display: flex;

  flex-direction: row;
  gap: 4px;
  /* height: 168px; */
  padding: 12px;
  position: relative;
  align-items: safe;
  /* margin-bottom: 16px; */
}

.dvpost-info {
  /* background-color: #fa6666; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dvpost-feature {
  /* background-color: #72d554; */

}

.dvpost-thumb {
  /* background-color: #dbef74; */
  width: 136px;
  overflow: hidden;
  flex: 0 0 136px;
  border-radius: 6px;
}

.dvpost-thumb img {
  border-radius: 4px;
  /* max-height: 100%; */
  width: 136px;
  height: 136px;
}

.dv-info-lists p {
  line-height: 1.8;
  margin: 0;
  color: #8a8a8a;
  font-weight: 400;
}

.dv-info-title h2 {
  color: rgba(30, 30, 30, 0.87);
  font-size: 14px;
  font-weight: 600;
  height: 56px;
  line-height: 26px;
  margin-bottom: auto;
  margin-top: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  text-align: justify;
}

.dv-info-bottom span {
  font-size: 11px;
}

.dv-mobile-bottom-nav {
  align-items: stretch;
  background-color: rgba(255, 255, 255, .98);
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .12);
}

.dv-mobile-bottom-nav .sub-bottom-nav {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  transition: all ease 0.2s;
  border: none;
  cursor: pointer;
}

.sub-bottom-nav p {
  flex: 0 0 50%;
  font-size: .75rem;
  line-height: 2;
  color: #555151;
}

.sub-bottom-nav span {
  flex: 0 0 50%;
  color: #555151 !important;
  font-size: 18px;
}

.dv-mobile-bottom-nav .sub-bottom-nav:hover {
  color: #a62626;
  background-color: rgba(255, 255, 255, .98);
}


.dv-megamenu {
  background-color: #eb3333;
  /* width: 100%; */
  border-radius: 0px;
  width: 80vw !important;
  /*text-align: center;*/
  left: 0;
  right: 0 !important;
}

.dv-megamenu a {
  display: inline;
}

.dv-action-nav {
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 4px 8px;

}

.dv-actionnav-container {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
}

.dv-actionnav-container.sticky-top {
  top: 63px !important;
}

.dv-action-badge {
  margin-left: 7px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .56);
  font-size: .875rem;
  font-weight: 400;
  outline: none;
  border-radius: 16px;
  line-height: 2;
  padding: 0 12px;
  cursor: pointer;
}

.dv-action-badge.active {
  border-color: #c53b3b ;
  color: #c53b3b;
  background-color: #ffeeee;
  padding-left: 5px;
}

.dv-deleteFilter {
  /* vertical-align: -1; */
  cursor: pointer;
  border-radius: 100%;
  transition: all ease 0.2s;
  margin-right: 3px;
}
.dv-deleteFilter a{
  color: #c53b3b;

}
.dv-deleteFilter:hover {
  background-color: rgba(249, 194, 194, 0.5);
}

.dv-deleteFilter svg {
  font-size: 22px;
}


.dv-action-nav::-webkit-scrollbar,
.dv-action-nav::-webkit-scrollbar-thumb {
  width: 16px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 7px solid #fff;
}

.dv-action-nav::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 5px;
  color: rgba(227, 227, 227, 0.28);
  /* border: 4px solid red; */
}

.dv-action-nav::-webkit-scrollbar {
  width: 4px;
}

.dvm-filter-header {
  font-size: 14px;
  font-weight: 400;
  color: #000 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 5px;
  cursor: pointer;
  transition: all ease 0.2s;
  font-weight: 600;
}

.dvm-filter-header>span {
  color: #b5b5b5;
}

.dv-filter-header {
  font-size: 14px;
  font-weight: 400;
  color: #000 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 0;
  cursor: pointer;
  transition: all ease 0.2s;

}

.dv-filter-header span {
  color: rgba(0, 0, 0, .32);
  font-size: 16px;
  transition: all ease 0.2s;
}

.reset-filter-span-open {
  color: #a62626 !important;
  font-size: 12px !important;
  align-self: center !important;
  transition: none !important;
  padding: 0 10px !important;
}

.reset-filter-span-close {
  align-self: center !important;
  width: 7px;
  height: 7px;
  background-color: #a62626;
  border-radius: 100%;
  margin: 0 10px;
  transition: none !important;
}

.dv-filter-header p {
  align-self: center;
  font-weight: 600;
}

.dv-clear-input {
  /* flex-basis: 20px; */
  font-size: 16px;
  color: #a62626;
  align-self: center;
  padding: 0 5px;
  cursor: pointer;
}

.dv-filter-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  color: #b5b5b5;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: text;
  position: relative;
  /* transition: all ease 0.2s; */
  height: 36px;
}

.dv-filter-dropdown {
  border: 2px solid #f0f0f0 !important;
  border-radius: 4px !important;
  color: #b5b5b5;
  height: 36px;
  padding-left: 1px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all ease .25s;
}
.dv-filter-dropdown.search{
    border: none !important;
}
.dv-filter-dropdown.search a{
  color: #555151;
  font-size: 14px;
}


.dv-filter-dropdown.show {
  /* border-color: rgba(0,0,0,.18) !important; */
}

.dv-filter-dropdown button {
  height: 100%;
  padding: 0;
  padding-right: 5px;
  border: none !important;
  color: #b5b5b5 !important;
  font-size: 13px;
}

.dv-filter-dropdown button span {
  font-size: 17px;
  padding-left: 9px;
  color: #b5b5b5;
  align-self: center;
}

.dv-filter-dropdown .dropdown-menu {
  width: 100%;
  z-index: 2;
  background-color: #fff;
  border-radius: 4px;
  border: none !important;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .08), 0 -8px 32px -4px rgba(0, 0, 0, .04), 0 16px 24px -6px rgba(0, 0, 0, .04) !important;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: opacity .36s ease-in-out, visibility .36s;
  transition-duration: .24s;
  max-height: 150px;
  overflow-y: auto;
  /* color: #c5c5c5 !important; */
}

.dv-filter-dropdown .dropdown-item {
  border: none !important;
  color: #555151 !important;
  font-size: 12px;
  line-height: 2;
}

.dv-filter-dropdown .dropdown-item:first-child {
  /* background-color: #f7f4f4; */
}

.dv-filter-dropdown .dropdown-item:hover {
  background-color: #f7f4f4;
}

.dv-filter-dropdown p {
  align-self: center;
}

.dv-filter-dropdown p.selected {
  color: #555151;
}

.dv-filter-dropdown span {
  color: #555151;
}

.dv-filter-dropdown .dropdown-menu::-webkit-scrollbar,
.dv-filter-dropdown .dropdown-menu::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 3px solid #fff;
}

.dv-filter-dropdown .dropdown-menu::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  color: #ddd !important;
}

.dv-filter-dropdown .dropdown-menu::-webkit-scrollbar {
  width: 10px;
}

.dv-filter-button .filterform {
  height: 100%;
  font-size: 12px;
  color: #555151;
  border: none;
  padding-right: 0 !important;
  padding-left: 6px !important;
  opacity: 1;
  transition: all ease 0.2s;
}

.dv-filter-button .filterform::placeholder {
  color: #b5b5b5;
}

.dv-filter-button .filterform:focus {
  border-color: #c53b3b !important;
  box-shadow: none !important;
}

.dv-filter-button .filterform.active {}

.dv-filter-button.active {
  border-color: #c53b3b !important;
}

.dv-filter-button p {
  align-self: center;
  font-size: 14px;
}

.dv-filter-button span {
  font-size: 17px;
  justify-content: end;
}

.dv-filter-selectbox {
  /* border: 2px solid #f0f0f0; */
  border-radius: 4px;
  color: #b5b5b5;
  font-size: 14px;
  outline: none !important;
  border: none !important;
}

.dv-filter-selectbox:focus {
  outline: none !important;

}

.dv-filter-selectbox option {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  color: #b5b5b5;
  font-size: 12px;
  outline: none !important;
}

.dv-filter-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  cursor: pointer;
  margin: 4px 0;
}

.dv-filter-switch p {
  font-size: 12px;
}

.dv-vertical-dots {
  color: #c0c0c0 !important;
  padding: 4px 0;
}

.dv-suggest-box {
  position: absolute;
  right: 0;

  width: 100%;
  z-index: 2;
  background-color: #fff;
  border-radius: 4px;
  border: none !important;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .08), 0 -8px 32px -4px rgba(0, 0, 0, .04), 0 16px 24px -6px rgba(0, 0, 0, .04) !important;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: opacity .36s ease-in-out, visibility .36s;
  transition-duration: .24s;
  max-height: 150px;
  overflow-y: auto;
}

.dv-suggest-box.top {
  bottom: 38px !important;
}

.dv-suggest-box.bottom {
  top: 38px !important;
}

.dv-suggest-box::-webkit-scrollbar,
.dv-suggest-box::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 3px solid #fff;
}

.dv-suggest-box::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  color: #ddd !important;
}

.dv-suggest-box::-webkit-scrollbar {
  width: 10px;
}

.dv-filter-button-checkbox span {
  display: inline-block;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .56);
  border-radius: 16px;
  padding: 0 12px;
  line-height: 2;
  font-weight: 400;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 10px;
}

.dv-filter-button-checkbox span.active {
  background-color: rgba(166, 38, 38, .04);
  border-color: rgba(166, 38, 38, .56);
  color: #a62626;
}

.dv-filter-button-radioBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  padding-bottom: 5px;
  padding-top: 10px;
  /* border-radius: 4px; */
  /* border-left: 1px solid rgba(0, 0, 0, .12); */
}

.dv-filter-button-radioBox span {
  align-items: center;
  border-color: rgba(0,0,0,.24) rgba(0,0,0,.12) rgba(0,0,0,.24) rgba(0,0,0,.24);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: rgba(0, 0, 0, .56);
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 38px;
  min-width: 64px;
  outline: none;
  padding: 0 16px;
  font-size: 12px;
  font-weight: 400;
}

.dv-filter-button-radioBox span.active {
    border: 2px solid rgba(166,38,38,.56);
    color: rgba(166,38,38,.56);
}


.dv-filter-button-radioBox::-webkit-scrollbar,
.dv-filter-button-radioBox::-webkit-scrollbar-thumb {
  width: 16px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 7px solid #fff;
}

.dv-filter-button-radioBox::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 5px;
  color: rgba(227, 227, 227, 0.28);
}

.dv-filter-button-radioBox::-webkit-scrollbar {
  width: 4px;
}



/* .dv-suggest-box:focus{
  border:none !important;
  box-shadow: none !important;
} */
.dv-suggest-box .dropdown-item {
  border: none !important;
  color: #555151;
  font-size: 12px;
  line-height: 2;
}

.dv-suggest-box .dropdown-item:hover {
  background-color: #f7f4f4;
}

@media (max-width: 575.98px) {

  .dv-card {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }

  .dv-post {
    /* padding: 12px 4px; */
    gap: 2px;
  }

  .dv-catlist {
    border-bottom: 1px solid #eee !important;
  }

  .dv-catlist:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .dv-card {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  .dv-card {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
}

/*
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .dv-search-input {
    width: 310px;
  }
 }

@media (min-width: 1200px) { 
  .dv-search-input {
    width: 440px;
  }
 }
 */




/* // Small devices (landscape phones, 576px and up) */
/* @media (max-width: 576px) {
  .dv-search-input {
    width: 60px;
  }
} */

/* // Medium devices (tablets, 768px and up) */
/* @media (max-width: 768px) {
  .dv-search-input {
    width: 360px;
  }
} */

/* // Large devices (desktops, 992px and up) */
/* @media (max-width: 992px) {
  .dv-search-input {
    width: 390px;
  }
} */

/* // X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  .dv-search-input {
    width: 490px !important;
  }
} */

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {} */